
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*
bg- ebebeb
text- 050505
main- 6f4a8e
*/

*{
  margin:0px;
  font-family: 'Lato', sans-serif;
}
:root{
  font-size: 8px;
}
body{
  background-color:#ebebeb;
  color: #050505;
}
.main-content{
  width: 1040px;
  margin:0 auto;
  padding-top:60px;
}
h1{
  font-size:4rem;
  font-weight: 700;
}
h2{
  font-size: 3rem;
  font-weight: 700;
}
.item-area{
  display:flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.itemlist{
  flex:1;
  padding:10px;
  border-right: 2px solid;
  min-height: 500px;
}
.itemcart{
  min-width: 350px;
  padding:10px;
  min-height: 400px;
  border-bottom: 1px solid;
}
.itemlist__cards,.itemcart__lists{
  padding:20px 0px;
}
.item{
  background-color: azure;
  padding:10px;
  display:flex;
  align-items: center;
  margin-bottom: 10px;;
}
.item .detail{
  flex:1;
  min-height: 60px;
  margin-left:10px;
}
.item .detail h3{
  font-size: 2rem;
}
.item .detail p{
  font-size: 1.6rem;
  margin-top:5px;
  margin-bottom:5px;
  color:#A9A9A9;
}
.item .price{
  font-size: 2rem;
  font-weight: 700;
  margin:0 10px;
}
.item button{
  padding:7px 15px;
  font-size: 2rem;
  background-color:#6617d3 ;
  color:white;
  border:none;
  cursor: pointer;
  display: inline-block;
    font-family: 'Lato',sans-serif;
    text-align: center;    
}
.item button:hover{

  background-color:#5b00da ;

}
button:disabled{
  background-color: wheat;
  cursor:not-allowed;
}
button:disabled:hover{
  background-color: wheat;
  cursor:not-allowed;
}
.itemcart__lists{
  
  min-height: 300px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
.itemcart_item{
  background-color: azure;
  min-height: 30px;
  padding:10px;
  display:flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.itemcart_item h3{
  font-size: 2rem;
}
.itemcart_item .price{
   font-size: 2rem;
  font-weight: 700;
  margin:0 10px;
  
}
.itemcart__total{
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  font-weight: 700;
}
.itemcart__total span{
  margin-left:10px;
}
.itemcart button{
  border:none;
  background-color: transparent;
}
i{
  font-size: 2rem;

  color:#6617d3 ;
  cursor: pointer;
}
i:hover{
  cursor: pointer;
  color:#5b00da ;
}


.fade-in {
animation: fadeIn ease 0.5s;
-webkit-animation: fadeIn ease 0.5s;
-moz-animation: fadeIn ease 0.5s;
-o-animation: fadeIn ease 0.5s;
-ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}